{% extends "base.html" %}
{% load static %}

{% block page_header %}
   
{% endblock %}

{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col white-container "></div>
    </div>
    <div class="row bg-color">
        <div class="col-lg-6 col-sm-12 margin-btm ">
            <a href="{% url 'products' %}">
                <img class="image-border home-img img-up" src="../media/home-img2.png" alt="mens shoes home page image">
            </a>
        </div>
        <div class="col-lg-6 col-sm-12 margin-btm ">
            <a href="{% url 'products' %}">
                <img class="image-border home-img img-down" src="../media/home-img1.png" alt="womens shoes home page image">
            </a>
        </div>
        <div class="col-lg-6 col-sm-12">
            <a href="{% url 'products' %}">
                <img class="image-border home-img img-up" src="../media/home-img4.png" alt="childrens shoes home page image">
            </a>
        </div>
        <div class="col-lg-6 col-sm-12">
            <a href="{% url 'products' %}">
                <img class="image-border home-img img-down" src="../media/home-img3.png" alt="accessories home page image">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col newsletter">
            <h1 class="text-center"> INSERT NEWS LETTER HERE!</h1>
        </div>
    </div>
</div>
{% endblock %}