<div class="row">
    <div class="news col-12 col-md-8 offset-md-2">
        <h3>Unsubscribe</h3>
        <p>Sign up to our newsletter to get all the latest deals!</p>
        <div class="text-right"><span class="asterisk">*</span> indicates required</div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn-outline-black" type="submit" value="Subscribe">
        </form>
        <br>
        <small class="unsub"><a href="{% url 'products' %}">I want to unsubscribe</a></small>
    </div>