html {
    height: 100%;
}

.container {
    max-width: 100%;
  }

body {
    /* background-size: cover; */
    /* height: calc(100vh - 164px); */
    /* color: #555; */
    font-family: 'Lato';
}

/* #logo {
    position:fixed;
    top:0;
    left:0;
    width:25.5%;
} */

/* Base */

.logo-f{
    font-family: 'Playfair Display', serif;
}

.banner {
    padding: 2% 0;
    border: 1px solid black;
    background-color: white;
}

.bg-color {
    background-color: wheat;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-btn {
    padding: 2% 0;
    font-size: large;
}

.site-button {
    background-color: lightgray;
    border: 1px solid black;
    color: black;
}

/* .btn-black {
    background: black;
    color: white;
} */

.site-button:hover,
.site-button:active,
.site-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(212, 200, 178);
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
    border-radius: 0;
}

.nav-dropdown {
    padding: 0 !important;
}

/* Home */

.white-container {
    background-color: white;
    padding: 7%;
}

.newsletter {
    padding: 14%;
}

.image-border {
    border: 2px solid black;
}

.home-img {
    padding-left: 7%;
    margin: 2% 0;
}

.img-left img{
    position: relative;
  	z-index:1;
}

.img-right img{
    position:relative;
  	z-index:1;
}

.overlay p{ 
    text-align: center;
    margin-top: 40%;
}

.overlay{
	position: absolute;
    z-index: 2;
    top: 0;
    opacity: 0;
    color: black;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    background-color: white;
}

.img-left:hover .overlay{
	opacity:0.5;
}

.img-right:hover .overlay{
	opacity:0.5;
}

.img-left {
    position:absolute;
    bottom: 20%;
}

.img-right {
    position:relative;
    top: 20%;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
