html {
    height: 100%;
}

.container {
    max-width: 100%;
  }

body {
    /* background-size: cover; */
    /* height: calc(100vh - 164px); */
    /* color: #555; */
    font-family: 'Lato';
}

/* #logo {
    position:fixed;
    top:0;
    left:0;
    width:25.5%;
} */

/* Base */

.logo-f{
    font-family: 'Playfair Display', serif;
}

.banner {
    padding: 2% 0;
    border: 1px solid black;
    background-color: white;
}

.bg-color {
    background-color: wheat;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.nav-btn {
    padding: 2% 0;
    font-size: large;
}

.site-button {
    background-color: lightgray;
    border: 1px solid black;
    color: black;
}

/* .btn-black {
    background: black;
    color: white;
} */

.site-button:hover,
.site-button:active,
.site-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgb(212, 200, 178);
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
    border-radius: 0;
}

.nav-dropdown {
    padding: 0 !important;
}

/* Home */

.white-container {
    background-color: white;
    padding: 7%;
}

.newsletter {
    padding: 14%;
}

.home-img {
    position:relative;
    left: 15%;
    border: 2px solid black;
}

.img-up {
    bottom: 15%;
}

.img-down {
    top: 15%;
}

.margin-btm {
    margin-bottom: 5%;
}

/* product details */

.desc {
    position:relative;
    bottom: 10%;
    left: 15%;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
