{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container header-container">
    <div class="row s-white-container">
        <div class=""></div>
    </div>
    <div class="row bg-color out bottom-m">
        <div class="col-10 offset-1 col-md-8 text-center box-up box-container">
            <h1>{% trans "Change Password" %}</h1>
            <p>{% trans 'Your password is now changed.' %}</p>
        </div>
    </div>
</div>

   
{% endblock %}
