{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container header-container">
    <div class="row s-white-container">
        <div class=""></div>
    </div>
    <div class="row bg-color out bottom-m">
        <div class="col-10 offset-1 col-md-8 text-center box-up box-container">
            <h1>{% trans "Change Password" %}</h1>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crisry }}
                <button type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
