{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
    <div class="container header-container">
        <div class="row s-white-container">
            <div class=""></div>
        </div>
        <div class="row bg-color out bottom-m">
            <div class="col-10 offset-1 col-md-8 text-center box-up box-container">
                <h1 class="logo-f">{% trans "Create A New Account" %}</h1>
                <br>
                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                <br>
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <button class="btn btn-outline-black rounded-0 btn-lg long-btn" type="submit">{% trans 'SIGN UP' %} &raquo;</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}