{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="container header-container">
    <div class="row s-white-container">
        <div class=""></div>
    </div>
    <div class="row bg-color out bottom-m">
        <div class="col-10 offset-1 col-md-8 text-center box-up box-container">
            <h1>{% trans "Sign Up Closed" %}</h1>
            <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
</div>
{% endblock %}
