{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/baseb.css' %}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Hurricane&family=Lato&family=Playfair+Display&family=Roboto:wght@700&display=swap" rel="stylesheet">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://kit.fontawesome.com/b62f6ec01c.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>StepLDN {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid fixed-top">
            <div class="container h-100">
                <div id="topnav" class="row bg-color pt-lg-2 d-lg-flex">
                    <div class="col-lg-3 col-md-4 col-sm-4 my-auto">
                        <h1 class="display-4 logo-f text-black">
                            StepLDN
                        </h1>
                        <!-- <a href="#">
                            <img id="logo" src="../media/step-logo.png" alt="Step London Logo">
                        </a> -->
                    </div>
                    <div class="col-lg-6 col-md-2 col-sm-2 my-auto text-center">
                        <form method="GET" action="{% url 'products' %}">
                            <div class="input-group w-100">
                                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                                <div class="input-group-append">
                                    <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>          
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 my-auto text-center">
                        <ul class="list-inline list-unstyled text-center">
                            <li class="list-inline-item">
                                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="text-center">
                                        <div><i class="fas fa-user fa-lg"></i></div>
                                        <p class="my-0 text-black">My Account</p>
                                    </div>
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_superuser %}
                                            <a href="" class="dropdown-item">Product Management</a>
                                        {% endif %}
                                        <a href="" class="dropdown-item">My Profile</a>
                                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    {% else %}
                                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                                    <div class="text-center">
                                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                        <p class="my-0 text-black">
                                            {% if grand_total %}
                                                ${{ grand_total|floatformat:2 }}
                                            {% else %}
                                                $0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container h-100">
                <div class="row d-lg-flex">
                    <div class="col-lg-3 col-sm-6 my-auto text-center nav-dropdown">
                        <a class="border-black site-button nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <p class="my-0 text-black nav-btn">Mens</p>
                                <div><i class="fa-light fa-chevrons-down"></i></div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-black" aria-labelledby="user-options">
                            <a href="{% url 'products' %}?category=mens_trainers" class="dropdown-item">Trainers</a>
                            <a href="{% url 'products' %}?category=mens_flipflops" class="dropdown-item">Flipflops</a>
                            <a href="#" class="dropdown-item">ect...</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 my-auto text-center nav-dropdown">
                        <a class="border-black site-button nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <p class="my-0 text-black nav-btn">Womens</p>
                                <div><i class="fa-light fa-chevrons-down"></i></div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-black" aria-labelledby="user-options">
                            <a href="{% url 'products' %}?category=womens_trainers" class="dropdown-item">Trainers</a>
                            <a href="{% url 'products' %}?category=womens_flipflops" class="dropdown-item">Flipflops</a>
                            <a href="#" class="dropdown-item">ect...</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 my-auto text-center nav-dropdown">
                        <a class="border-black site-button nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <p class="my-0 text-black nav-btn">Childrens</p>
                                <div><i class="fa-light fa-chevrons-down"></i></div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-black" aria-labelledby="user-options">
                            <a href="{% url 'products' %}?category=childrens_trainers" class="dropdown-item">Trainers</a>
                            <a href="{% url 'products' %}?category=childrens_flipflops" class="dropdown-item">Flipflops</a>
                            <a href="#" class="dropdown-item">ect...</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 my-auto text-center nav-dropdown">
                        <a class="border-black site-button nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <p class="my-0 text-black nav-btn">Accessories</p>
                                <div><i class="fa-light fa-chevrons-down"></i></div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-black" aria-labelledby="user-options">
                            <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Trainers</a>
                            <a href="#" class="dropdown-item">Flipflops</a>
                            <a href="#" class="dropdown-item">ect...</a>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="container h-100">
                <div class="row h-100 banner">
                    <div class="col-9 col-md-9 my-auto text-center">
                        <p>Get 10% off all orders when you sign up for the <a href="#">news letter</a> and keep up to date with future offers!</p>
                    </div>
                    <div class="col-3 col-md-3 my-auto text-center">
                        <a href="#" class="text-black">Sign In</a> |
                        <a href="#" class="text-black">Create an account</a>
                    </div>
                </div>
            </div>
        </header>

        {% if messages %}
            <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %} 
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}

    </body>
</html>