{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profilea.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row bag">
            <div class="col">
                <hr>
                <h2 class="logo-f mb-4">Contact Us!</h2>
                <hr>
            </div>
        </div>
        <div class="row bg-color">
            <div class="col-12 col-md-8 offset-md-1 box-container box-up">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}