{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profilea.css' %}">
{% endblock %} 
{% block content %}
    <div class="container">
        <div class="row bag">
            <div class="col">
                <hr>
                <h2 class="logo-f mb-4">Contact Us!</h2>
                <hr>
            </div>
        </div>
        <div class="unsubscribe-box bottom-m row bg-color">
            <div class="col-md-8 offset-md-1 box-container box-up">
                <h3 class="logo-f">Thank you for your inquiry</h3>
                <p class="text-center">Your contact information and message was successfully submitted.</p>
            </div>
        </div>
    </div> 
{% endblock %}